*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body
{
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}
.navbar {
  font-size: 18px;
  padding-bottom: 10px;
}
.logo
{
  float: left;
}
.logo img
{
  padding: 1em;
  max-width: 100%;
  width: 220px;
  top:0;
  left: 0;
}
.mainmenu
{
  list-style-type: none;
  /*display: none;*/
}
.nav-link,
.logo
{
  text-decoration: none;
  color: black;
  font-size: large;
}
.background
{
  width: 100%;
  min-height: 30vh;
  max-height: 50vh;
}
.box
{
  text-align: center;
  padding: 0.50em;
}
#search
{
  width: 300px;
  height: 50px;
  background: #2c303a;
  border: none;
  font-size: 11pt;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.mainmenu li
{
  text-align: center;
  margin: 15px auto;
  display: inline;
  padding: 1em;
}
.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer; 
  color: rgba(255,255,255,0.8);
  font-size: 24px;
}
.mainmenu li :hover
{
  background-color: rgb(153, 173, 175);
  color:white;
  padding: 0.55em;
}
.formsec
{
  text-align: center;
  padding: 2em;
}
.formsec h2
{
  text-align: center;
}
form { 
  border: 3px solid #f1f1f1; 
} 
/*assign full width inputs*/ 

input[type=text], 
input[type=password] { 
  width: 100%; 
  padding: 12px 20px; 
  margin: 8px 0; 
  display: inline-block; 
  border: 1px solid #ccc; 
  box-sizing: border-box; 
} 
/*set a style for the buttons*/ 

button { 
  background-color: #4CAF50; 
  color: white; 
  padding: 14px 20px; 
  margin: 8px 0; 
  border: none; 
  cursor: pointer; 
  width: 100%; 
} 
/* set a hover effect for the button*/ 

button:hover { 
  opacity: 0.8; 
} 
/*set extra style for the cancel button*/ 

.cancelbtn { 
  width: auto; 
  padding: 10px 18px; 
  background-color: #f44336; 
} 
/*centre the display image inside the container*/ 

.imgcontainer { 
  text-align: center; 
  margin: 24px 0 12px 0; 
} 
/*set image properties*/ 

img.avatar { 
  width: 40%; 
  border-radius: 50%; 
} 
/*set padding to the container*/ 

.container { 
  padding: 16px; 
} 
/*set the forgot password text*/ 

span.psw { 
  float: right; 
  padding-top: 16px; 
} 
/*set styles for span and cancel button on small screens*/ 

.footer-main
{
  background-color: rgb(201, 197, 197);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.left-side
{
  text-align: left;
}
h3
{
  padding: 0.5em;
}
.item
{
  width: 33%;
  padding: 4px 10px 4px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  box-sizing: border-box;
}
.trip li a
{
  text-decoration: none;
  color: black;
  padding: 1em;
}
.exp li a
{
  text-decoration: none;
  color: black;
  padding: 0.50em;
}
.right-side
{
  text-align: left;
}
.interests li a
{
  text-decoration: none;
  color: black;
  padding: 0.50em;
}
.footercontainer
{
  text-align: center;
  padding: 0.50em;
  background-color: rgb(201, 197, 197);
}
.footer-logo
{
  text-align: center;
  display: block;
}
footer
{
  padding:0.50em;
  color: grey;
  font-size: 12px;
}

@media screen and (max-width: 300px) { 
  span.psw { 
      display: block; 
      float: none; 
  } 
  .cancelbtn { 
      width: 100%; 
  } 
} 
